html, body {
    font-family: monospace;
    max-width: 600px;
    margin: 80px;
    background: #0f0f0f;
    color: #f0f0f0;
}

button {
    margin-top: 20px;
    padding: 8px 16px;
    cursor: pointer;
}
